{% extends 'base.html.twig' %}

{% block title %}
    HouseHotel*****
{% endblock %}

{% block body %}
    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Entrez ici</a>
{% endblock %}
